* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.app {
  width: 640px;
  height: 800px;
  margin: 2rem;
  background-image: url("./assets/cloud.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.app.hot {
  width: 640px;
  height: 800px;
  margin: 2rem;
  background-image: url("./assets/weather_hot.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: 1s ease;
}

.app.warm {
  width: 640px;
  height: 800px;
  margin: 2rem;
  background-image: url("./assets/weather_warm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: 1s ease;
}

.app.mist {
  width: 640px;
  height: 800px;
  margin: 2rem;
  background-image: url("./assets/weather_mist.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: 1s ease;
}

.app.cold {
  width: 640px;
  height: 800px;
  margin: 2rem;
  background-image: url("./assets/weather_cold.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: 1s ease;
}

.app.rain {
  width: 640px;
  height: 800px;
  margin: 2rem;
  background-image: url("./assets/weather_rain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: 1s ease;
}

.app.snow {
  width: 640px;
  height: 800px;
  margin: 2rem;
  background-image: url("./assets/weather_snow.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  transition: 1s ease;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 600px;
  height: 60px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 10px;
  border: none;
  padding: 20px;
  font-size: 30px;
}

.date {
  font-size: 20px;
}

.containerTemp {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.wrapperTemp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tempIcon {
  width: 60px;
}

.weatherIcon {
  width: 100px;
  margin-top: 15px;
}

.location-container {
  font-size: 30px;
  padding: 5px;
  width: 400px;
  height: 620px;
  text-align: center;
  border-radius: 10px;
  background-color: hsl(180, 1%, 84%, 0.7);
}

.temperature {
  font-size: 100px;
  transition: 1s ease;
}

.tempMinMax {
  padding: 10px;
}

.containerSun {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.wrapperSunRiseSet {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sunRiseSetIcon {
  width: 50px;
}

.sunRiseSet {
  width: 190px;
  margin-top: 5px;
  /* border: 1px solid; */
  display: flex;
  justify-content: end;
}
